<ion-toolbar color="primary" class="cabecalho">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-title>Busca</ion-title>
</ion-toolbar>  


<ion-content>
  
  
    <ion-searchbar placeholder="Busca por lava-jato" class="search"></ion-searchbar><br>
    <div class="texto">OU</div>
  <h1>Selecione o(s) Serviço(s)</h1>
    <div class="checkbox">
      <ion-checkbox></ion-checkbox> Delivery<br>
      <ion-checkbox></ion-checkbox> Geral<br>
      <ion-checkbox></ion-checkbox> Geral com Cera<br>
      <ion-checkbox></ion-checkbox> Pretinho<br>
      <ion-checkbox></ion-checkbox> Ducha<br>
      <ion-checkbox></ion-checkbox> Aspirar<br>
      <ion-checkbox></ion-checkbox> Painel<br>
      <ion-checkbox></ion-checkbox> Lavagem parte de baixo<br>
      <ion-checkbox></ion-checkbox> Motor<br>
      <ion-checkbox></ion-checkbox> Forro<br>
      <ion-checkbox></ion-checkbox> Guariba<br>
      <ion-checkbox></ion-checkbox> Polimento<br>
    </div><br>

    <ion-button class="botao">Buscar</ion-button><br>
</ion-content>
